html(lang="en")
  head
    title Nets!

    link(rel='stylesheet', href='css/styles.css')

  body(ng-app='neural')
    h1#title Neural Networks
    
    .layout
      canvas#network(width=700, height=500)
      .contoller#learning(ng-controller='learning')
        h1 Learning
        p Learning rate: {{learningRate}}
        p Regularisation parameter: {{regParameter}}
        p Training {{iterations}} times
        button(ng-click='trainNet()') Train
          
        .scrollable#iteretations
          p(ng-repeat='cost in costHistory') iteration {{cost[0]}} with cost {{cost[1]}}
      
      .contoller#control(ng-controller='data')
        h1 Data
        p Training data
        .scrollable#data
          p(ng-repeat='data in trainingData') for input {{data[0]}} expect {{data[1]}}
        
        p Outputs from the neural network
        .scrollable#outputs
          p(ng-repeat='output in outputs') input {{output[0]}} gave output {{output[1]}}
    
    .container#costContainer
      canvas#costGraph(width=100, height=100)
      
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js')  
    script(src='vendor.bundle.js')
    script(src='main.bundle.js')