html(lang="en")
  head
    title Nets!

    link(rel='stylesheet', href='css/styles.css')

  body(ng-app='')
    h1#title Neural Networks
    
    .layout
      canvas(width=700, height=500)
      .contoller#learning
        h1 Net Learning
          p(ng-repeat='num in [1, 2]') {{num}}
      
      .contoller#control
        h1 Networks
      
    script(src='main.bundle.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js')